
body {
    margin-left: 90px;
}

header {
    text-align: center;
   text-indent: -10rem;
   font-size: 40px;
}
#profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    background:none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 40px 40px 40px;
}

img {
    display: flex;
    background-image: none;
}

hr {
    border-bottom: 3px solid black;
    margin-left: 2.2%;
   margin-right: 10%;
  
}