
body {
    margin-left: 5%;
    margin-right: 6%;
    
}

header {
    text-align: center;
   text-indent: -10rem;
   font-size: 40px;
}
#profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    background:none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 40px 40px 40px;
}

hr {
    border-bottom: 3px solid black;
    margin-left: 10%;
    margin-right: 10%;
}

form {
    width: 75%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.noResults {
    font-size: x-large;
    color: black;
}